<template>
  <div class="p-4 flex flex-wrap border border-sky-500 bg-white font-medium"
       :key="post.id">
    <h3 class="text-sky-500 text-2xl mb-2">{{post.title}}</h3>
    <p class="mb-4 text-md">{{post.body}}</p>
    <p class="flex items-end text-gray-400 text-sm te">{{post.author}}</p>
  </div>
</template>

<script>

  export default {
    name: 'Card',
    props: {
      post: {
        type: Object,
        required: true,
      }
    }
  }
</script>

<style scoped>

</style>