<template>
  <div class="wrapper bg-gray-100 min-h-screen">
    <div class="container mx-auto py-8 px-2">
      <div class="flex justify-center mx-auto mb-8">
        <form action="" class="border border-black h-8 bg-white">
          <button class="w-16 h-full border-r border-black text-center bg-grey-300" @click.prevent="" disabled>Search
          </button>
          <input type="text" class="pl-4 outline-none" v-model="filter" placeholder="Filter by author...">
        </form>
      </div>
      <div v-if="filteredPosts" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
        <Card v-for="post in filteredPosts" :post="post" :key="post.id"/>
      </div>
      <h2 class="text-center text-3xl" v-if="!filteredPosts.length">{{ filter ? 'Посты этого автора не найдены : (' :
        'Нет постов' }}</h2>
    </div>
  </div>

</template>
<script>
  import api from '../api/_api';
  import Card from './components/Card.vue';

  export default {
    components: {Card},
    data() {
      return {
        posts: [],
        users: [],
        filter: ''
      }
    },
    computed: {
      filteredPosts() {
        if (this.filter) {
          return this.postsWithAuthor.filter(post => post.author.toLowerCase().includes(this.filter.toLowerCase()))
        }
        return this.postsWithAuthor
      },
      postsWithAuthor() {
        if (this.users.length) {
          return this.posts.map((post) => {
            let author = this.users.find(user => user.id === post.userId)
            return {
              ...post,
              author: author.name
            }
          })
        }
        return this.posts
      }
    },
    mounted() {
      this.fetch()
    },
    methods: {
      /**
       *  Запрашиваем данные и отрисовываем после полной загрузки
       *
       * **/
      fetch() {
        Promise.all([api.fetchData('posts'), api.fetchData('users')]).then(([posts, users]) => {
          this.posts = posts
          this.users = users
        }).catch((e) => {
          console.log(e.message)
        })
        ;
      }
    }
  }
</script>
<style lang="scss">

</style>
